* {
    margin: 0;
    padding: 0;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
}

/* Header Container */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--bs-purple);
    color: white;
}

.list .list-items {
    list-style: none;
    display: inline;
    margin: 0px 20px 0px 0px;
    font-size: large;
}

.link-item {
    text-decoration: none;
    color: white;
}

#header-title {
    margin: 3rem 0rem 3rem 1rem;
}

/* Avatar Container */

.avatar-container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

/* For Image Avatar */
.avatar {
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 1rem;
}

/* Avatar with Initials */
.avatar-circle {
    width: 80px;
    height: 80px;
    padding: 14px;
    background-color: var(--bs-purple);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.initials {
    position: relative;
    top: -3rem;
    left: 9.5rem;
    /* 25% of parent */
    font-size: 20px;
    /* 50% of parent */
    line-height: 20px;
    /* 50% of parent */
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
    cursor: pointer;
}