<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
</head>

<body>
    <div class="component-container">
        <h2>Alert</h2>
        <p style="margin: 1rem;">Alerts are used provide feedback to the user according for typical actions.
        </p>
        <h2>Usage</h2>
        <div class="alert-display">
            <div class="alert-wrong">
                <span class="closeBtn">&times;</span>
                <strong>Holy Moly!</strong> Something went wrong.
            </div>
            <div class="alert-success">
                <span class="successBtn">&check;</span>
                <strong>Success</strong> Fire on!
            </div>
            <div class="alert-warning">
                <span class="warningBtn">&#9888;</span>
                <strong>Warning</strong> Upgrade now for unlimited access!
            </div>
            <div class="alert-info">
                <span class="infoBtn">&#9432;</span>
                <strong>Eloquent UI</strong> is live!
            </div>
        </div>
    </div>
    <hr>

    <script src="/handlers/components.js"></script>
</body>

</html>