<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <title>Badge</title>
</head>

<body>
    <div class="component-container" id="badge">
        <h1>Badge</h1>
        <p style="margin: 1rem;">Badges are used to highlight an item's status for quick recognition.
        </p>
        <h2>Usage</h2>
        <div class="badge-conatiner">
            <span class="badge-default">DEFAULT</span>
            <span class="badge-success">SUCCESS</span>
            <span class="badge-removed">REMOVED</span>
            <span class="badge-new">NEW</span>
        </div>
        <div style="margin-top: 1rem; margin-left: 1rem;">
            <iframe src="https://carbon.now.sh/embed/yQqSe4Nm2GAhk5mnPUcg"
                style="width: 500px; height: 160px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
    <!-- <hr> -->
</body>

</html>