<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024px, initial-scale=1.0">
    <title>Buttons</title>
</head>

<body>
    <div class="component-container" id="button">
        <h1>Buttons</h1>
        <p style="margin: 1rem;">The Button component is used to trigger an action or event, such as submitting a form,
            opening a dialog, canceling an action, or performing a delete operation.
        </p>
        <h2>Examples</h2>
        <div class="default-button-container">
            <button class="default-button">Button</button>
            <button class="success-button">Success</button>
            <button class="danger-button">Danger</button>
            <button class="warning-button">Warning</button>
            <button class="light-button">Light</button>
            <button class="dark-button">Dark</button>
        </div>
        <h2>Button Sizes</h2>
        <div class="default-button-container">
            <button class="button-large">Button Large</button>
            <button class="button-small">Button Small</button>
        </div>
        <h2>Disabled Buttons</h2>
        <div class="default-button-container">
            <button class="disabled-button">Primary Button</button>
            <button class="disabled-default-button">Button</button>
        </div>
        <h2>Button With Icon</h2>
        <div class="default-button-container">
            <button class="button-icon">Email
                <i class="fa fa-envelope-o email-icon"></i>
            </button>
            <button class="button-icon">Settings
                <i class="fa fa-gear fa-spin settings-icon"></i>
            </button> 
        </div>
        <h2>Loading State Button</h2>
        <div class="default-button-container">
            <button class="button-icon">Loading
                <i class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>

    <hr>

</body>

</html>