<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>

<body>
    <div class="component-container" id="card">
        <h1>Cards</h1>
        <p style="margin: 1rem;">Cards are surfaces that display content and actions on a single topic.
        </p>
        <h2>Usage</h2>
        <div class="component-container card-container">
            <div class="card">
                <img class="card-img"
                    src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1783ffdd337%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1783ffdd337%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22106.390625%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"></img>
                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed cum nostrum ea,
                        unde aliquid sunt
                        cumque quod expedita minus laborum autem, ullam ratione, illo fugiat doloribus. Quos fugit saepe
                        veritatis!</p>
                    <a href="/" class="default-button card-link-button">Button</a>
                </div>
            </div>
        </div>
        <div class="code-box">
            <iframe src="https://carbon.now.sh/embed/c2BIowBDodhWSVES7trB"
                style="width: 906px; height: 348px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
        <div class="component-container card-container">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed cum nostrum ea,
                        unde aliquid sunt
                        cumque quod expedita minus laborum autem, ullam ratione, illo fugiat doloribus. Quos fugit saepe
                        veritatis!</p>
                    <a href="/" class="card-link">Link</a>
                    <a href="/" class="card-link">Another Link</a>
                </div>
            </div>
        </div>
        <div class="card-code-box">
            <iframe src="https://carbon.now.sh/embed/5911ddAN9KjMuZSZc7SJ"
                style="width: 572px; height: 330px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
    <hr>
</body>

</html>