<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>

<body>
    <div class="component-container" id="modal">
        <h1>Modal</h1>
        <p style="margin: 1rem;">Modals are built with HTML, CSS, and JavaScript. They’re positioned over everything
            else in the document and remove scroll from the body tag so that modal content scrolls instead.
        </p>
        <h2>Usage</h2>
        <div class="nav-container">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Title</h4>
                        <button class="close-btn"><i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                    <p class="modal-body">Modal Body goes here!</p>
                    <div class="modal-footer">
                        <button class="btn-modal-close">Close</button>
                        <button class="btn-modal-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <hr>
</body>

</html>