<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>

<body>
    <div class="component-container" id="navbar">
        <h1>Navbar</h1>
        <p style="margin: 1rem;">Navbars are used for navigation of web pages.
        </p>
        <h2>Usage</h2>
        <div class="nav-container">
            <nav class="navigation container">
                <div class="nav-brand">I'm a Brand</div>
                <ul class="non-bullet nav-pills">
                    <li class="list-item-inline">
                        <a class="link link-active" href="/">Home</a>
                    </li>
                    <li class="list-item-inline">
                        <a class="link" href="/">Products</a>
                    </li>
                    <li class="list-item-inline">
                        <a class="link" href="/">About</a>
                    </li>
                </ul>
            </nav>
        </div>
        <hr>
    </div>
    <hr>
</body>

</html>