<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text</title>
</head>

<body>
    <div class="component-container" id="text">
        <h1>Typography</h1>
        <p style="margin: 1rem;">Typrography usually contains all varients of font size and texts.
        </p>
        <h2>Usage</h2>
        <div class="slider-container">
            <h1 class="typography-text">This is Header one tag(Biggest of all)</h1>
            <h2 class="typography-text">This is Header two tag(Second Biggest)</h2>
            <p class="typography-text">Normal Text and a free flowing wrap</p>
            <p class="typography-text">This will have a <strong>bold</strong> text</p>
            <small class="typography-text">Comparetively smaller text </small>
        </div>
        <hr>
    </div>
    <hr>
</body>

</html>