:root {
    --bs-blue: #91C8FF;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --gray-body: #F7FAFC;
    --aside: #F9FAFB;
}

h2 {
    margin: 1rem;
}

hr{
    margin-top: 2rem;
    margin-bottom: 1rem;;
    border: 1px solid black;
    opacity: 0;
}

/* Header Container */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.list .list-items {
    list-style: none;
    display: inline;
    margin: 0px 20px 0px 0px;
    font-size: large;
}

.link-item {
    text-decoration: none;
    color: var(--text);
}

#header-title {
    margin: 3rem 0rem 3rem 1rem;
}

/* Avatar Container */

.component-container {
    margin-top: 1rem;
    margin-left: 2rem;
}

.avatar-display {
    padding-left: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    height: 85px !important;
    width: 300px !important;
    margin-left: 1rem;
}

/* Image avatar container */
.avatar-image {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* Avatar with no profile pic container */
.avatar-user {
    position: relative;
    top: -4rem;
    left: 6rem;
}

/* Avatar with Initials */
.initials {
    position: relative;
    top: -6.2rem;
    left: 11rem;
    /* 25% of parent */
    font-size: 20px;
    /* 50% of parent */
    line-height: 20px;
    /* 50% of parent */
}

/* Aside Container */
.aside-container {
    margin-top: 1rem;
}

.title-aside {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* Lists */
.ordered-list {
    margin: 1rem 0rem 0rem 2rem;
    position: fixed;
}

/* Alert Container */
.alert-display{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    height: auto;
    width: auto;
    margin: 1rem;
}

/* Badge Conatiner */

.badge-conatiner{
    border: 1px solid black;
    width: 400px;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    background-color: white;
}

/* Code Snippet */
.code-snippets{
    margin: 1rem;
    width: 1000x !important; 
    height: 500px; 
    border:0;
    overflow-y: hidden !important;
}

/* Buttons Container */

.default-button-container{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 3rem;
    border: 1px solid black;
    width: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
}

.code-box{
    margin-top: 2rem;
    margin-left: 2rem !important;
}

/* Card */
.card-container{
    border: 1px solid #000000;
    border-radius: 0.25rem;
    margin-right: 5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-code-box{
    margin-top: 2rem;
    margin-left: 8rem !important;
}

/* Images */

.image-container{
    position: relative;
    padding: 1rem;
    border-width: 0.2rem;
    margin-left: 2rem;
    margin-right: 5rem;
    border: 1px solid #000000;
    border-radius: 2px;
}

.input-container{
  margin-top: 1rem;
  margin-left: 1rem;
}