body,
html {
    height: 100vh;
}

:root {
    --bs-blue: #91C8FF;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --gray-body: #F7FAFC;
    --aside: #F9FAFB;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 4);
    grid-template-areas:
        "main"
        "footer";
}

aside {
    grid-area: sidebar;
    background-color: var(--aside);
}

header {
    grid-area: header;
    background-color: var(--bs-blue);
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    grid-area: main;
    background-color: var(--gray-body);
}

footer {
    grid-area: footer;
    background-color: var(--bs-blue);
}

@media only screen and (min-width: 768px) {

    body {
        margin: 0;
        display: grid;
        grid-template-columns: auto 25% 27% 27%;
        grid-template-rows: 10% 30% auto 10%;
        grid-template-areas:
            "header header header header"
            "sidebar main   main   main"
            "sidebar main   main   main"
            "footer footer footer footer";

    }

}